.container{
  border:1px solid black;
  border-radius: 20px;
  margin-top: 10px;
  box-shadow: 0 0 5px 5px #dddbdb;
  margin-bottom: 0px;
}

.button{
  background-color:transparent;
  color: black;
  border-radius: 30px;
  width: 150px;
  border:1px solid black;
}

 

.button:hover{
  background-color:black;
  color:white
  
}

input{
  width: 300px;
  border-radius: 50px;
}

